<nz-row class="header-container container">
  <nz-col nzXs="24" nzSm="20">
    <div class="logo-wrapper">
      <a href="/">
        <img src="../../../../assets/images/icons/logo/ga-logo.png" alt="GitHub Activities">
      </a>
    </div>
    <div class="nav-wrapper">
      <a routerLink="/" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Overview</a>
      <a routerLink="/release-notes" class="nav-item" routerLinkActive="active">Release Notes</a>
      <a href="https://github.com/gitpulse/activities" class="nav-item">GitHub</a>
    </div>
  </nz-col>
</nz-row>
<nz-row class="body-container container">
    <nz-col nzXs="24" nzSm="20">
      <router-outlet></router-outlet>
    </nz-col>
</nz-row>
<nz-row class="footer-container container">
    <nz-col nzXs="24" nzSm="20">

    </nz-col>
</nz-row>
